$brewing-s1-bg: "../img/brewing-s1-bg.jpg";
$box-shadow: 1px 1px 3px #000;
$chocolate-s1-bg: "../img/chocolate-s1-bg.jpg";
$color-blk: #333;
$color-brown: darken(#A52A2A,10%);
$color-gray: #aaa;
$color-wht: #fff;
$color-yellow: darken(#FFFF00,5%);
$coffee-s1-bg: "../img/coffee-s1-bg.jpg";
$confirm-s1-bg: "../img/error-s1-bg.jpg";
$error-s1-bg: "../img/error-s1-bg.jpg";
$font-menu: 'Josefin Sans', sans-serif;
$font-text: 'Amatic SC', cursive;
$font-header: 'Righteous', cursive;
$font-sign: 'Satisfy', cursive;
$full-height: 100vh;
$third-height: 33vh;
$icon-color: $color-wht;
$icon-menu-size: 25px;
$index-s2-bg-xs: "../img/index-s2/bg-xs.jpg";
$index-s2-bg-sm: "../img/index-s2/bg-sm.jpg";
$index-s2-bg-md: "../img/index-s2/bg-md.jpg";
$index-s2-bg-lg: "../img/index-s2/bg-lg.jpg";
$index-s3-bg-about-xs: "../img/index-s3/about-bg-xs.jpg";
$index-s3-bg-about-sm: "../img/index-s3/about-bg-sm.jpg";
$index-s3-bg-about-md: "../img/index-s3/about-bg-md.jpg";
$index-s3-bg-about-lg: "../img/index-s3/about-bg-lg.jpg";
$index-s3-bg-blog-xs: "../img/index-s3/blog-bg-xs.jpg";
$index-s3-bg-blog-sm: "../img/index-s3/blog-bg-sm.jpg";
$index-s3-bg-blog-md: "../img/index-s3/blog-bg-md.jpg";
$index-s3-bg-blog-lg: "../img/index-s3/blog-bg-lg.jpg";
$index-s3-bg-press-xs: "../img/index-s3/press-bg-xs.jpg";
$index-s3-bg-press-sm: "../img/index-s3/press-bg-sm.jpg";
$index-s3-bg-press-md: "../img/index-s3/press-bg-md.jpg";
$index-s3-bg-press-lg: "../img/index-s3/press-bg-lg.jpg";
$navbar-height: 60px;
$section-full-height:
    "about-s1",
    "blog-s1",
    "brewing-s1",
    "chocolate-s1",
    "coffee-s1",
    "confirm-s1",
    "contact-s1",
    "error-s1",
    "index-s2",
    "newsletter-s1",
    "press-s1",
    "privacy-s1",
    "sweets-s1",
    "spices-s1";
$section-third-height:
    "index-s3";
$section-top-height:
    "index-s1";
$shadow-black: 0 1px 3px $color-blk;
$shadow-gray: 0 1px 3px $color-gray;
$spices-s1-bg: "../img/spices-s1-bg.jpg";
$sweets-s1-bg: "../img/sweets-s1-bg.jpg";